.sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    z-index: 1010;
    overflow-y: auto;
}

.nav {
    display: block;
    padding: 0.125rem 0 0.125rem 0;
    color: inherit;
    text-decoration: none;
    border-left: 0.125rem solid transparent;
}

.nav-2 {
    padding: 0.125rem 0 0.125rem 0.75rem;
}