<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Category</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.prod.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
</head>
<body>
<header th:replace="components/header::header(${user})"></header>
<div class="max-w-8xl mx-auto px-4">
  <!--  <div-->
  <!--      class="lg:block fixed z-20 inset-0 top-16 left-[max(0px,calc(50%-45rem))] right-auto w-[19rem] pb-10 pl-8 pr-6 overflow-y-auto">-->
  <!--    <div class="mt-10">-->
  <!--    </div>-->
  <!--  </div>-->
  <main class="mt-10">
    <article class="pl-[19.5rem] min-h-screen">
      <div class="mx-auto max-w-none ml-0 mr-[15.5rem] pr-16 text-slate-700">
        <div class="mt-10">
          <nav th:replace="/components/breadcrumb::breadcrumb(${breadcrumb} ,${author})"></nav>
          <div class="mt-10">
            <h1 class="font-bold text-4xl" th:text="${T(com.ale.blog.handler.utils.TextUtil).ALL_DOCUMENT}"></h1>
          </div>
        </div>
        <div class="mt-5">
          <div th:replace="/components/tabs-doc::tabs(${scope})"></div>
        </div>
        <div th:if="${documentPage.isEmpty()}" class="flex justify-center mt-16 font-semibold text-slate-300 uppercase">
          <span class="flex items-center font-semibold">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" viewBox="0 0 24 24"
                 class="w-4 h-4 min-w-[1rem] min-h-[1rem] stroke-slate-300 fill-none">
              <path
                  d="M9 13H15M12.0627 6.06274L11.9373 5.93726C11.5914 5.59135 11.4184 5.4184 11.2166 5.29472C11.0376 5.18506 10.8425 5.10425 10.6385 5.05526C10.4083 5 10.1637 5 9.67452 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V15.8C3 16.9201 3 17.4802 3.21799 17.908C3.40973 18.2843 3.71569 18.5903 4.09202 18.782C4.51984 19 5.07989 19 6.2 19H17.8C18.9201 19 19.4802 19 19.908 18.782C20.2843 18.5903 20.5903 18.2843 20.782 17.908C21 17.4802 21 16.9201 21 15.8V10.2C21 9.0799 21 8.51984 20.782 8.09202C20.5903 7.71569 20.2843 7.40973 19.908 7.21799C19.4802 7 18.9201 7 17.8 7H14.3255C13.8363 7 13.5917 7 13.3615 6.94474C13.1575 6.89575 12.9624 6.81494 12.7834 6.70528C12.5816 6.5816 12.4086 6.40865 12.0627 6.06274Z"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <h5 class="ml-1">Chưa có bài viết nào</h5>
          </span>
        </div>
        <div th:unless="${documentPage.isEmpty()}" th:each="document: ${documentPage}" class="mt-8">
          <div class="p-4 rounded-lg shadow border hover:border-emerald-600 hover:shadow-emerald-600">
            <a class="font-semibold text-3xl hover:text-emerald-600" th:text="${document.getTitle()}"
               th:href="@{'/doc/'+${author.getUsername()}+'/'+${document.getSlug()}}">
            </a>
            <div class="mt-3 text-sm">
              <label>
                <span class="text-emerald-600 font-light">Ngày đăng: </span>
                <span th:text="${T(com.ale.blog.handler.utils.Format).toLocalDate(document.getCreateDate())}"></span>
              </label>
              <label class="ml-3">
                <span class="text-emerald-600 font-light">Tác giả: </span>
                <span class="text-emerald-600 font-semibold"
                      th:text="${document.getAuthor().getLastName() + ' ' + document.getAuthor().getLastName()}"></span>
              </label>
              <label class="ml-3">
                <span class="text-emerald-600 font-light">Lượt xem: </span>
                <span>00</span>
              </label>
            </div>
            <div th:if="${not #strings.isEmpty(document.getIntroduction())}" class="mt-5 line-clamp-2 truncate whitespace-pre-line text-lg"
                 th:text="${document.getIntroduction()}">
            </div>
          </div>
        </div>
        <nav th:replace="components/pagination::pagination(${documentPage}, ${'?scope='+scope+'&page='})"></nav>
      </div>
    </article>
  </main>
</div>
<footer th:replace="components/footer::footer"></footer>
</body>
</html>