<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Category</title>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header th:replace="components/header::header"></header>
<div class="max-w-8xl mx-auto px-4">
  <main class="mt-10">
    <article class="pl-[19.5rem] min-h-screen">
      <div class="mx-auto max-w-none ml-0 mr-[15.5rem] pr-16 text-slate-700">
        <div th:if="${posts.isEmpty()}" class="flex justify-center mt-16 font-semibold text-slate-300 uppercase">
        <span class="flex items-center font-semibold">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" viewBox="0 0 24 24"
               class="w-4 h-4 min-w-[1rem] min-h-[1rem] stroke-slate-300 fill-none">
            <path
                d="M9 13H15M12.0627 6.06274L11.9373 5.93726C11.5914 5.59135 11.4184 5.4184 11.2166 5.29472C11.0376 5.18506 10.8425 5.10425 10.6385 5.05526C10.4083 5 10.1637 5 9.67452 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V15.8C3 16.9201 3 17.4802 3.21799 17.908C3.40973 18.2843 3.71569 18.5903 4.09202 18.782C4.51984 19 5.07989 19 6.2 19H17.8C18.9201 19 19.4802 19 19.908 18.782C20.2843 18.5903 20.5903 18.2843 20.782 17.908C21 17.4802 21 16.9201 21 15.8V10.2C21 9.0799 21 8.51984 20.782 8.09202C20.5903 7.71569 20.2843 7.40973 19.908 7.21799C19.4802 7 18.9201 7 17.8 7H14.3255C13.8363 7 13.5917 7 13.3615 6.94474C13.1575 6.89575 12.9624 6.81494 12.7834 6.70528C12.5816 6.5816 12.4086 6.40865 12.0627 6.06274Z"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <h5 class="ml-1">Chưa có bài viết nào</h5>
        </span>
        </div>
        <div th:unless="${posts.isEmpty()}" th:each="post: ${posts}" class="mt-10 pb-7 border-b">
          <a class="font-bold text-4xl hover:text-emerald-600" th:text="${post.getTitle()}"
             th:href="@{'/post/'+${post.getSlug()}}">
          </a>
          <div class="mt-3">
            <label>
              <span class="text-emerald-600 font-light">Ngày đăng: </span>
              <span th:text="${T(com.ale.blog.handler.utils.Format).toLocalDate(post.getCreateDate())}"></span>
            </label>
            <label class="ml-3">
              <span class="text-emerald-600 font-light">Tác giả: </span>
              <span class="text-emerald-600 font-semibold"
                    th:text="${post.getAuthor().getLastName() + ' ' + post.getAuthor().getLastName()}"></span>
            </label>
            <label class="ml-3">
              <span class="text-emerald-600 font-light">Lượt xem: </span>
              <span th:text="${post.getView()}"></span>
            </label>
          </div>
          <div th:if="${not #strings.isEmpty(post.getIntroduction())}" class="mt-5 whitespace-pre-line"
               th:text="${post.getIntroduction()}">
          </div>
        </div>
        <nav class="flex justify-center mt-10">
          <ul class="list-style-none mb-6 flex">
            <li>
              <a th:if="${posts.getNumber() + 1 > 1}" th:href="${username + '?page=' + 1}"
                 class="rounded px-3 py-1.5 text-sm hover:bg-slate-200">
                <span aria-hidden="true">&laquo;</span>
              </a>
              <a th:unless="${posts.getNumber() + 1 > 1}" disabled
                 class="rounded px-3 py-1.5 text-sm bg-slate-100 cursor-no-drop">
                <span aria-hidden="true" class="text-slate-400">&laquo;</span>
              </a>
            </li>
            <li th:each="page: ${#numbers.sequence(1, posts.getTotalPages())}"
                th:if="${page == 1 || page == posts.getTotalPages() || (page > posts.getNumber() - 2 && page < posts.getNumber() + 4)}">
              <a th:if="${page == posts.getTotalPages() && posts.getNumber() < posts.getTotalPages() - 4} "
                 class="rounded mx-0.5 py-1.5 text-xs">...</a>
              <a th:if="${posts.getNumber() + 1 == page}" th:href="${username+'?page='+page}" th:text="${page}"
                 class="rounded mx-0.5 px-2.5 py-1.5 text-sm bg-emerald-400">
              </a>
              <a th:unless="${posts.getNumber() + 1 == page}" th:href="${username}+'?page='+${page}" th:text="${page}"
                 class="rounded mx-0.5 px-2.5 py-1.5 text-sm hover:bg-slate-200 ">
              </a>
              <a th:if="${page == 1 && posts.getNumber() > 3} " class="rounded mx-0.5 py-1.5 text-xs">...</a>
            </li>
            <li>
              <a th:if="${posts.getNumber() + 1 < posts.getTotalPages()}"
                 th:href="${username + '?page=' + posts.getTotalPages()}"
                 class="rounded px-3 py-1.5 text-sm hover:bg-slate-200">
                <span aria-hidden="true">&raquo;</span>
              </a>
              <a th:unless="${posts.getNumber() + 1 < posts.getTotalPages()}" disabled
                 class="rounded px-3 py-1.5 text-sm bg-slate-100 cursor-no-drop">
                <span aria-hidden="true" class="text-slate-400">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </article>
  </main>
</div>
<footer th:replace="components/footer::footer"></footer>
</body>
</html>