<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.prod.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
</head>
<body>
<header th:replace="components/header::header(${user}, ${avatar})"></header>
<div class="max-w-8xl mx-auto px-4">
  <main class="mt-10">
    <article class="pl-[19.5rem] min-h-screen">
      <div class="mx-auto max-w-none ml-0 mr-[15.5rem] pr-16 text-slate-700">
        Home hdhsdjsldjsdks

      </div>
    </article>
  </main>
</div>
</body>
</html>