<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<nav th:replace="components/navbar::navbar"></nav>
<div class="container w-75">
    <div class="row mt-5">
        <main class="col-md-9">
            <div>
                <h2>Beautiful Content</h2>
                <h5>One</h5>
                <p>Easily realign text to components with text alignment classes. For start, end, and center alignment, responsive classes are available that use the same viewport width breakpoints as the grid system.</p>
                <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown
                    gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably
                    haven't heard of them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep
                    v. Meggings seitan Wes Anderson semiotics, cliche American Apparel whatever. Helvetica
                    cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies.
                    Banh mi McSweeney's Shoreditch selfies, forage fingerstache food truck occupy YOLO
                    Pitchfork fixie iPhone fanny pack art party Portland.</p>
                <p>Sriracha biodiesel taxidermy organic post-ironic, Intelligentsia salvia mustache 90's
                    code editing brunch. Butcher polaroid VHS art party, hashtag Brooklyn deep v PBR narwhal
                    sustainable mixtape swag wolf squid tote bag. Tote bag cronut semiotics, raw denim deep
                    v taxidermy messenger bag. Tofu YOLO Etsy, direct trade ethical Odd Future jean shorts
                    paleo. Forage Shoreditch tousled aesthetic irony, street art organic Bushwick artisan
                    cliche semiotics ugh synth chillwave meditation. Shabby chic lomo plaid vinyl chambray
                    Vice. Vice sustainable cardigan, Williamsburg master cleanse hella DIY 90's blog.</p>
                <h5>Two</h5>
                <p>Intelligentsia salvia mustache 90's code editing brunch. Butcher polaroid VHS art party,
                    hashtag Brooklyn deep v PBR narwhal sustainable mixtape swag wolf squid tote bag. Tote
                    bag cronut semiotics, raw denim deep v taxidermy messenger bag. Tofu YOLO Etsy, direct
                    trade ethical Odd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony,
                    street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation.
                    Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan, Williamsburg
                    master cleanse hella DIY 90's blog.</p>
                <p>Dreamcatcher street art Carles, stumptown gluten-free Kickstarter artisan Wes Anderson
                    wolf pug. Godard sustainable you probably haven't heard of them, vegan farm-to-table
                    Williamsburg slow-carb readymade disrupt deep v. Meggings seitan Wes Anderson semiotics,
                    cliche American Apparel whatever. Helvetica cray plaid, vegan brunch Banksy leggings +1
                    direct trade. Wayfarers codeply PBR selfies. Banh mi McSweeney's Shoreditch selfies,
                    forage fingerstache food truck occupy YOLO Pitchfork fixie iPhone fanny pack art party
                    Portland.</p>
                <hr>
                <h5>Three</h5>
                <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown
                    gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably
                    haven't heard of them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep
                    v. Meggings seitan Wes Anderson semiotics, cliche American Apparel whatever. Helvetica
                    cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies.
                    Banh mi McSweeney's Shoreditch selfies, forage fingerstache food truck occupy YOLO
                    Pitchfork fixie iPhone fanny pack art party Portland.</p>
                <div class="pl-4">
                    <h6>Three A</h6>
                    <p>PBR narwhal sustainable mixtape swag wolf squid tote bag plus and them then Helvetica
                        cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR
                        selfies. Banh mi McSweeney's Shoreditch selfies, forage fingerstache food truck
                        occupy YOLO Pitchfork fixie MDO of twitter fame iPhone fanny pack art party
                        Portland. dd Future jean shorts paleo. Forage Shoreditch tousled aesthetic irony,
                        street art organic Bushwick artisan cliche semiotics ugh synth chillwave meditation.
                        Shabby chic lomo plaid vinyl chambray Vice. Vice sustainable cardigan!</p>
                    <br>
                    <h6>Three B</h6>
                    <p>Helvetica cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply
                        PBR selfies. Banh mi McSweeney's Shoreditch selfies, forage fingerstache food truck
                        occupy YOLO Pitchfork fixie iPhone fanny pack art party Portland. PBR narwhal
                        sustainable mixtape swag wolf squid tote bag. Godard sustainable you probably
                        haven't heard of them, vegan farm-to-table Williamsburg slow-carb readymade disrupt
                        deep v. Meggings seitan Wes Anderson semiotics, cliche American Apparel whatever.
                        Helvetica cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers
                        codeply PBR selfies. </p>
                </div>
                <h5>4</h5>
                <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown
                    gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably
                    haven't heard of them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep
                    v. Meggings seitan Wes Anderson semiotics, cliche American Apparel whatever. Helvetica
                    cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies.
                    Banh mi McSweeney's Shoreditch selfies, forage fingerstache food truck occupy YOLO
                    Pitchfork fixie iPhone fanny pack art party Portland.</p>
                <h5>5</h5>
                <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown
                    gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably
                    haven't heard of them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep
                    v. Meggings seitan Wes Anderson semiotics, cliche American Apparel whatever. Helvetica
                    cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies.
                    Banh mi McSweeney's Shoreditch selfies, forage fingerstache food truck occupy YOLO
                    Pitchfork fixie iPhone fanny pack art party Portland.</p>
                <h5>6</h5>
                <p>Ethical Kickstarter PBR asymmetrical lo-fi. Dreamcatcher street art Carles, stumptown
                    gluten-free Kickstarter artisan Wes Anderson wolf pug. Godard sustainable you probably
                    haven't heard of them, vegan farm-to-table Williamsburg slow-carb readymade disrupt deep
                    v. Meggings seitan Wes Anderson semiotics, cliche American Apparel whatever. Helvetica
                    cray plaid, vegan brunch Banksy leggings +1 direct trade. Wayfarers codeply PBR selfies.
                    Banh mi McSweeney's Shoreditch selfies, forage fingerstache food truck occupy YOLO
                    Pitchfork fixie iPhone fanny pack art party Portland.</p>
            </div>
        </main>
        <aside class="col-md-3">
            <div class="sticky-nav">
                <div class="border-bottom pb-2">
                    Mục lục
                </div>
                <ul class="list-inline mt-1">
                    <li><a class="nav" href="#sec1">One</a></li>
                    <li><a class="nav" href="#sec2">Two</a></li>
                    <li class="nav">
                        <a class="nav" href="#sec3">Three</a>
                        <ul class="nav-2 list-inline">
                            <li><a class="nav" href="#sec3a">Section A</a></li>
                            <li><a class="nav" href="#sec3b">Section B</a></li>
                        </ul>
                    </li>
                    <li><a class="nav" href="#sec4">Four</a></li>
                    <li><a class="nav" href="#sec5">Five</a></li>
                    <li><a class="nav" href="#sec6">Six</a></li>
                </ul>
            </div>
        </aside>
    </div>
</div>
<footer th:replace="components/footer::footer"></footer>
</body>
</html>