@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-8xl{
    max-width: 90rem;
}
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}