<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="author" type="com.ale.blog.entity.User"*/-->
<!--/*@thymesVar id="list" type="java.util.List"*/-->
<!--/*@thymesVar id="arr" type="java.util.List"*/-->

<nav th:fragment="breadcrumb(list, author)" class="flex" aria-label="Breadcrumb">
  <ul class="inline-flex items-center space-x-1">
    <li class="inline-flex items-center">
      <a href="/"
         class="inline-flex items-center text-sm font-medium text-slate-600 hover:text-emerald-600">
        <svg class="w-2 h-2 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
             viewBox="0 0 20 20">
          <path
              d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Home
      </a>
    </li>
    <li th:each="arr: ${list}">
      <div class="flex items-center">
        <svg class="w-2 h-2 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
             viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <a th:if="${#strings.isEmpty(arr.get(1))}" th:text="${arr.get(0)}"
           class="ml-1 text-sm font-medium text-slate-500"></a>
        <a th:unless="${#strings.isEmpty(arr.get(1))}" th:text="${arr.get(0)}" th:href="${arr.get(1)}"
           class="ml-1 text-sm font-medium text-slate-600 hover:text-emerald-600"></a>
      </div>
    </li>
<!--    <li aria-current="page">-->
<!--      <div class="flex items-center">-->
<!--        <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"-->
<!--             viewBox="0 0 6 10">-->
<!--          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>-->
<!--        </svg>-->
<!--        <span class="ml-1 text-sm font-medium text-slate-500">Flowbite</span>-->
<!--      </div>-->
<!--    </li>-->
  </ul>
</nav>
</html>