<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="nav" class="fixed z-20 .overflow-y-auto">
    <div class="sticky top-0 -ml-0.5 pointer-events-none">
        <div class="h-10 bg-white dark:bg-slate-900"></div>
        <div class="bg-white dark:bg-slate-900 relative pointer-events-auto">
            <button type="button"
                    class="hidden w-full lg:flex items-center text-sm leading-6 text-slate-400 rounded-md ring-1 ring-slate-900/10 shadow-sm py-1.5 pl-2 pr-3 hover:ring-slate-300 dark:bg-slate-800 dark:highlight-white/5 dark:hover:bg-slate-700">
                <svg width="24" height="24" fill="none" aria-hidden="true" class="mr-3 flex-none">
                    <path d="m19 19-3.5-3.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <circle cx="11" cy="11" r="6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"></circle>
                </svg>
                Quick search...<span class="ml-auto pl-3 flex-none text-xs font-semibold">Ctrl K</span></button>
        </div>
        <div class="h-8 bg-gradient-to-b from-white dark:from-slate-900"></div>
    </div>
    <nav>
        <ul>
            <li>
                <a class="block block border-1 hover:border-slate-400" href="#">AA hahds  dshdhsdhsh dsdhsds</a>
            </li>
            <li>
                <a class="block block border-1 hover:border-slate-400" href="#">AA hahds  dshdhsdhsh dsdhsds</a>
            </li>
            <li>
                <a class="block block border-1 hover:border-slate-400" href="#">AA hahds  dshdhsdhsh dsdhsds</a>
            </li>
            <li>
                <a class="block block border-1 hover:border-slate-400" href="#">AA hahds  dshdhsdhsh dsdhsds</a>
            </li>
            <li>
                <a class="block block border-1 hover:border-slate-400" href="#">AA hahds  dshdhsdhsh dsdhsds</a>
            </li>
            <li>
                <a class="block block border-1 hover:border-slate-400" href="#">AA hahds  dshdhsdhsh dsdhsds</a>
            </li>
            <li>
                <a class="block block border-1 hover:border-slate-400" href="#">AA hahds  dshdhsdhsh dsdhsds</a>
            </li>
            <li>
                <a class="block block border-1 hover:border-slate-400" href="#">AA hahds  dshdhsdhsh dsdhsds</a>
            </li>
            <li>
                <a class="block block border-1 hover:border-slate-400" href="#">AA hahds  dshdhsdhsh dsdhsds</a>
            </li>
            <li>
                <a class="block block border-1 hover:border-slate-400" href="#">AA hahds  dshdhsdhsh dsdhsds</a>
            </li>
        </ul>

    </nav>
</div>

</html>